.App {
  text-align: center;
  writing-mode: sideways-lr;
}


.App-header {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App-link {
  color: #61dafb;
}

.Movie-container{
  width: 80%;
  display :flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:20px;

}

.Movie-wrapper {

  width:300px;
  background-color:bisque;
  color:black;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px; 
 
}
.Movie-tittle{
  height: 60px;
  font-weight: bold;
  margin-top: 26px;

}
.Movie-search {
  margin-top: 40px;
  margin-bottom: 50px;
  width:270px;
  border-radius: 10px;
  text-align: center;
  
}

.Movie-image {
  padding:1px;
  width :100%;
  margin-top:20px;
  border-radius: 20px;
}
.judul {
  margin-top: 20px;
  font-style:oblique;
  color: black;
}

.Movie-rate {
  color :red;
}
.Movie-date {
  color :black;
}