.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  width :100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Movie-wrapper {
  width:500px;
  padding:20px;
  background-color: #61dafb;
  color:black;
 
 
}
.Movie-tittle{
  font-size: small;
}
.Movie-search {
  margin-bottom: 20px;
  width:300px;
}
